/* Styling the Carosel component */
.carosel-container {
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  aspect-ratio: 1 / 1;
}

.displayed-image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
  transition: 0.3s ease-in-out;
  overflow: hidden;
  clip-path: polygon(
    1.5em 0%,
    calc(100% - 1.5em) 0%,
    100% 1.5em,
    100% calc(100% - 1.5em),
    calc(100% - 1.5em) 100%,
    1.5em 100%,
    0% calc(100% - 1.5em),
    0% 1.5em
  );
}

.displayed-image img {
  width: 90%;
  object-fit: contain;
  opacity: 0;
  transition: 0.3s ease-in-out;
  position: absolute;
  inset: 5%;
}

.displayed-image img.active {
  opacity: 1;
}

.displayed-image .button-left,
.displayed-image .button-right {
  position: absolute;
  height: 100%;
  background-color: var(--txt-color);
  color: var(--bg-color);
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 1em;
  z-index: 1;
  opacity: 0;
  scale: 2;
  transition: 0.3s ease-in-out;
}

.displayed-image .button-left {
  left: 0;
  padding-right: 0.5em;
}

.displayed-image .button-right {
  right: 0;
  padding-left: 0.5em;
}

.displayed-image:hover .button-left,
.displayed-image:hover .button-right {
  opacity: 0.7;
}

.image-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.image-select .button {
  width: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid var(--txt-color);
  transition: 0.3s ease-in-out;
}

.image-select .button.active {
  background-color: var(--txt-color);
}
