/* AddressForm styling start */
/* AddressForm styling light mode start */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

form .inputs {
    display: grid;
    width: 100%;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(10px, 48%));
}

form .input-select {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form select {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    padding: 10px 5px;
    gap: 5px;
    font-weight: bold;
    border-color: var(--light);
    transition: all .5s ease-in-out;
}

form select:focus {
    outline: none;
    border-bottom: 2px solid var(--dark);
}

form select option{
    font-weight: 500;
}

form .full-width {
    width: 100%;
}

form .btn-add {
    font-weight: 900;
    padding: 15px;
}
/* AddressForm styling light mode end */

/* AddressForm styling dark mode start */
.dark form select {
    background-color: var(--dark);
    border-color: var(--dark);
    color: var(--light)
}

.dark form select:focus {
    border-bottom-color: var(--light);
}
/* AddressForm styling dark mode end */

/* AddressForm styling mobile mode start */
@media (max-width: 760px) {
    form .inputs {
        grid-template-columns: repeat(auto-fit, minmax(10px, 100%))
    }
}
/* AddressForm styling mobile mode end */
/* AddressForm styling end */