.badge {
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-amount {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dark);
    width: 40%;
    height: 40%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-weight: 700;
    font-size: 10px;
    opacity: 0;
    transform: scale(.85);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out
}

.amount-visible {
    opacity: 1;
    transform: scale(1);
}