/* CategorySelectionItem styling start */
/* CategorySelectionItem styling light mode start */
.category-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 20px;
    border: 1px solid var(--light);
    opacity: 0;
    transform: scale(.85);
    transition: background-color .5s ease-in-out, color .5s ease-in-out, border-color .5s ease-in-out, opacity .3s ease-in-out, transform .3s ease-in-out;
}

.category-visible {
    opacity: 1;
    transform: scale(1);
}

.category-image{
    height: 70%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: transparent;
}

.category-text {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-selection:hover {
    background-color: var(--hover-light);
}
/* CategorySelectionItem styling light mode end */

/* CategorySelectionItem styling dark mode start */
.dark .category-selection {
    border-color: var(--dark-bg);
    color: var(--light);
    background-color: var(--dark-containers);
    transition: background-color .5s ease-in-out, color .5s ease-in-out, border-color .5s ease-in-out, opacity .3s ease-in-out, transform .3s ease-in-out;
}

.dark .category-selection:hover {
    background-color: var(--hover-dark);
}
/* CategorySelectionItem styling dark mode end */
/* CategorySelectionItem styling end */
