/* CategorySelection styling start */
/* CategorySelection styling light mode start */
.category-selection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.category-selection-container a {
    text-decoration: none;
    color: #000;
}
/* CategorySelection styling light mode end */

/* CategorySelection styling mobile mode start */
@media (max-width: 760px) {
    .category-selection-container{
        grid-template-columns: repeat(auto-fit, 100%);
    }
}
/* CategorySelection styling mobile mode end */
/* CategorySelection styling end */