/* Checkout styling start */
/* Checkout styling light mode start */
.checkout-container {
    min-height: 100vh;
    padding: 90px 0 20px ;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.forms {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: all .5s ease-in-out;
}
/* Checkout styling light mode end */

/* Checkout styling dark mode start */

.dark .forms {
    color: var(--light);
    background-color: var(--dark-containers);
}