/* DetailsPage styling start */
/* DetailsPage styling light mode start */
.details-page-container {
    padding: 80px 0 0;
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-wrap: wrap;
}

.details-page-container hr {
    width: 100%;
    margin-top: 50px;
}

.details-carosel {
    width: 40%;
    padding: 10px;
    margin-top: 30px
}

.details-product-information {
    width: 60%;
    padding: 0 30px;
    gap: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 40px;
    transition: all .5s ease-in-out
}

.details-product-information hr {
    margin-top: 0;
}

.details-product-information h1 {
    width: 70%;
}

.details-page-desc {
    width: 100%;
    padding: 50px 50px 20px 0;
    line-height: 30px;
    transition: all .5s ease-in-out;
}

.details-page-desc ul {
    padding: 0 0 0 30px
}

.shopping-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
}

.column {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.shopping-info .btn:hover {
    transform: scale(1.02);
}
/* DetailsPage styling light mode end */

/* DetailsPage styling dark mode start */
.dark .details-product-information {
    color: var(--light)
}

.dark .details-page-desc {
    color: var(--light);
}
/* DetailsPage styling dark mode end */

/* DetailsPage styling tablet mode start */
@media (max-width: 1400px) {
    .details-page-container {
        width: 90%;
    }
}
/* DetailsPage styling tablet mode end */

/* DetailsPage styling mobile mode start */
@media (max-width: 820px) {
    .details-page-container {
        flex-direction: column;
        width: 100%;
    }

    .details-carosel {
        width: 100%
    }
    
    .details-product-information {
        width: 100%;
        padding-inline: 20px;
        gap: 50px
    }

    .details-product-information h1 {
        width: 100%;
    }

    .details-page-desc {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0 20px;
    }

    .shopping-info {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .column {
        padding: 0;
        gap: 5px;
        flex-direction: column;
    }

}
/* DisplayPage styling mobile mode end */