/* HomePage styling start */
.home-container {
    padding: 90px 20px 0;
    text-align: center;
}

.home-header {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all .5s ease-in-out
}

.lists-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home-products{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dark .home-container h1 {
    color: var(--light);
}

/* HomePage styling mobile mode start */
@media (max-width: 760px) {
    .home-header {
        flex-direction: column-reverse;
    }

    .home-products {
        flex-direction: column;
    }
}
/* HomePage styling mobile mode end */
/* HomePage styling end */