/* Input styling start */
/* Input styling light mode start */
.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    padding: 5px;
    gap: 5px;
    transition: background-color .5s ease-in-out;
}

.input-field input {
    width: 100%;
    background: none;
    border: none;
    height: 30px;
    font-weight: bold;
}

.input-field input:focus {
    outline: none;
}

.inputs-container label {
    font-weight: 500;
}

.input-field:focus-within {
    border-bottom: 2px solid var(--dark);
}
/* Input styling light mode end */

/* Input styling dark mode start */
.dark .input-field {
    background-color: var(--dark);
}

.dark .input-field:focus-within {
    border-color: var(--light);
}
/* Input styling dark mode end */