.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    text-decoration: none;
    color: #161616;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-text h1{
    font-size: 40px;
}

.logo-text h6 {
    font-weight: 900;
}