/* Navbar styling start */
/* Navbar styling  light mode start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    width: 100%;
    background-color: var(--light);
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
    z-index: 1;
    transition: background-color .5s ease-in-out;
}

/* Navbar logo styling start */
.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    height: 100%;
    text-decoration: none;
    color: var(--dark);
    transition: color .5s ease-in-out;
}

.logo-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-text h1{
    font-size: 30px;
    letter-spacing: .05em;
}

.logo-text h6 {
    font-size: 10px;
    font-weight: 900;
}
/* Navbar logo styling end */

/* Navbar buttons styling start */
.navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar styling light mode end */

/* Navbar styling dark mode start */
.dark .navbar {
    background-color: var(--dark);
    transition: background-color .5s ease-in-out;
}

.dark .navbar-logo {
    color: var(--light);
    transition: color .5s ease-in-out;
}
/* Navbar styling dark mode end */

/* Navbar styling mobile mode start */ 
@media (max-width: 760px) {
    /* Navbar logo styling start */
    .logo-text h1 {
        font-size: 20px;
        padding-right: 10px;
    }

    .logo-text h6 {
        display: none
    }
    /* Navbar logo styling end */
}
/* Navbar styling mobile mode end */ 