/* Search styling start */
/* Search light mode styling start */
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: 15px 0;
    width: 70%;
}

/* Search input styling start */
::placeholder {
    color: var(--dark-placeholder);
    transition: color .5s ease-in-out
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40px;
    background-color: var(--light-containers);
    padding: 0 20px;
    border-radius: 10px;
    transition: background-color .5s ease-in-out;
}

.btn-search {
    background-color: transparent;
    color: var(--dark);
    border: none;
    cursor: pointer;
    transition: color .5s ease-in-out;
}

.input-container input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-weight: 600;
    color: var(--dark);
    transition: color .5s ease-in-out;
}

.input-container input:focus {
    outline: none;
}
/* Search light mode styling end */

/* Search dark mode styling start */
.dark ::placeholder {
    color: var(--light-placeholder);
    transition: color .5s ease-in-out
}

.dark .input-container {
    background-color: var(--dark-containers);
    transition: background-color .5s ease-in-out;
}

.dark .btn-search {
    color: var(--light);
    transition: color .5s ease-in-out;
}

.dark .input-container input {
    color: var(--light);
    transition: color .5s ease-in-out;
}
/* Search dark mode styling end */
/* Search input styling end */

/* Search styling mobile mode start */
@media (max-width: 760px) {

    .search-container {
        width: 100%;
    }

    /* Search input styling start */
    .input-container {
        width: 100%;
    }
    /* Search input styling end */
}
/* Search styling mobile mode end */
/* Search styling end */