/* Select styling start */
/* Select styling light mode start */
.select-container {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    cursor: pointer;
}

.select {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--light);
    border-radius: 10px;
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

.select span {
    display: flex;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 250px;
    justify-content: center;
    transform-origin: top;
    transform: scale(1, 0);
    transition: transform .3s
}

.dropdown-visible {
    transform: scale(1, 1);
    transition: transform .3s
}

.btn-select {
    background-color: transparent;
    padding: 15px 0;
    border: none;
    background-color: var(--light);
    border-bottom: 1px solid var(--dark-placeholder);
    font-weight: 600;
    opacity: 0;
}

.btn-select:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-select:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-select:hover {
    background-color: var(--hover-light)
}

.dropdown-visible .btn-select {
    opacity: 1;
}
/* Select styling light mode end */

/* Select styling dark mode start */
.dark .select {
    background-color: var(--dark-containers);
    color: var(--light);
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

.dark .btn-select {
    background-color: var(--dark-containers);
    color: var(--light);
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

.dark .btn-select:hover {
    background-color: var(--hover-dark);
}
/* Select styling dark mode end */

/* Select styling mobile mode start */
@media (max-width: 760px) {
    .select-container {
        width: 100%;
    }

    .select {
        width: 100%;
    }

    .dropdown-content {
        width: 100%;
    }
}
/* Select styling mobile mode end */
/* Select styling end */