/* SwitchButton styling light mode start*/
/* SwitchButton container styling start */
.switch {
    width: 46px;
    height: 23px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-right: 10px;
    padding:2px;
    cursor: pointer;
    transition: background-color .5s ease-in-out, justify-content .5s ease-in-out;
}
/* SwitchButton container styling end */

/* SwitchButton handle styling start */
.handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}
/* SwitchButton handle styling end */
/* SwitchButton styling light mode end */

/* SwitchButton styling dark mode start */
/* SwitchButton container styling start */
.dark .switch {
    background-color:rgba(255, 255, 255, .3);
    transition: background-color .5s ease-in-out;
}
/* SwitchButton container styling end */
/* SwitchButton styling dark mode end */