/* Styling the Navbar component */
.navbar-container {
  padding: 0.2em 1.5em;
  background-color: var(--navbar-bg);
  color: var(--txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.3s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Styling the container  */
.container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: navigation;
}

/* Styling the logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
  gap: 0.5em;
  user-select: none;
  transition: 0.3s ease-in-out;
}

.logo h1 {
  font-weight: 900;
  font-size: var(--title-size);
}

/*  */
@container navigation (width < 400px) {
  .logo h1 {
    display: none;
  }
}
