/* Styling the CategoryList component */
.category-list-container {
  --item-width: 325px;
  width: 95%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--item-width), 1fr));
  container-type: inline-size;
  container-name: categoryList;
  padding-bottom: 2.5em;
}

@container categoryList (width < 500px) {
  .category-list-container {
    --item-width: 100%;
  }
}

@container categoryList (width > 500px) {
  .category-list-container:has(.category-item-container:hover)
    .category-item-container:not(:hover) {
    transform: scale(0.97);
  }

  .category-list-container:has(.category-item-container:hover)
    .category-item-container:not(:hover)
    .btn {
    opacity: 0;
    transform: translateY(10px);
  }
}
