/* Styling the Checkout component */
.checkout-container {
  display: flex;
  flex-direction: column;
  margin-block: 2em;
  width: 90%;
  max-width: 1000px;
}

.checkout {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.checkout::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: var(--container-color);
  clip-path: polygon(
    1.5em 0%,
    calc(100% - 1.5em) 0%,
    100% 1.5em,
    100% calc(100% - 1.5em),
    calc(100% - 1.5em) 100%,
    1.5em 100%,
    0% calc(100% - 1.5em),
    0% 1.5em
  );
  transition: 0.3s ease-in-out;
}

.checkout.active {
  opacity: 1;
  transform: scale(1);
}
