/* Styling the Newsteller form */
.newsteller-container {
  position: relative;
  width: 100%;
  padding-block: 5em;
  position: relative;
  margin-top: 2.5em;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.newsteller-container::before,
.newsteller-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--container-color);
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.newsteller-container::before {
  transform: skewY(3deg);
}

.newsteller-container::after {
  transform: skewY(-3deg);
}

.newsteller-container h1 {
  font-size: var(--title-size);
  color: var(--txt-color);
  width: 90%;
  max-width: 1500px;
  margin-bottom: 1em;
  transition: 0.3s ease-in-out;
}

.newsteller-container form {
  width: 90%;
  max-width: 1500px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  container-type: inline-size;
  container-name: newstellerForm;
}

.form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.newsteller-container textarea {
  color: var(--txt-color);
  background: var(--bg-color);
  resize: none;
  padding: 1em 1.5em;
  border: none;
  width: 100%;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  font-size: var(--txt-size);
  border-bottom: 3px solid var(--btn-bg);
  clip-path: polygon(
    0.7em 0%,
    calc(100% - 0.7em) 0%,
    100% 0.7em,
    100% 100%,
    0 100%,
    0% 0.7em
  );
}

.newsteller-container textarea:focus {
  outline: none;
}

.newsteller-container textarea:focus::placeholder {
  color: transparent;
}

.social-links {
  width: 90%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin-top: 2.5em;
}

.social-links a {
  color: var(--txt-color);
  border-radius: 50%;
  transform: scale(3);
  transition: 0.3s ease-in-out;
}

@container newstellerForm (width < 400px) {
  .form-inputs {
    grid-template-columns: 1fr;
  }

  .newsteller-container textarea {
    min-height: 200px;
  }

  .newsteller-container .btn {
    margin: 0 auto;
  }
}
